@page "/"
@using WineWeb.Models;


<h4>Wine List</h4>

@if (Wines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card-columns">
        @foreach (var Wine in Wines)
        {
            <div class="card">
                <div class="card-img" style="background-image: url('@Wine.Image');">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Wine.Name</h5>
                    <h6 class="card-title">Rs @Wine.Price</h6>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <button @onclick="(e => SelectProduct(Wine.Id))" data-toggle="modal" data-target="#productModal" class="btn btn-primary">
                            More Info
                        </button>
                        <button class="btn btn-primary">
                            Add To Basket
                        </button>
                    </small>
                </div>
            </div>
        }
    </div>

}

@if (selectedWine != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedWine.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@selectedWine.Image');">
                        </div>
                        <div class="card-body">
                            <p class="card-text">Varietal: @selectedWine.Varietal</p>
                            <p class="card-text">Country: @selectedWine.Country</p>
                            <p class="card-text">Size: @selectedWine.Size</p>
                            <p class="card-text">Price:Rs @selectedWine.Price</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">
                        Add To Basket
                    </button>
                </div>
            </div>
        </div>
    </div>
}


@code
{
    Wine selectedWine;

    void SelectProduct(int productId)
    {

        selectedWine = Wines.First(x => x.Id == productId);

    }
}
